body {
	background-image: url("img/fondo.jpg");
}

body h1 {
	color: Black;
	text-align: center;
}

.fondo {
	background-color: rgba(255,255,255);
}

.texto {
	background-color: rgba(0,0,0);
	opacity:0.75;
	margin-left:17.5%;
	margin-right:17.5%;
	padding-top:0.10%;
	padding-left:1.5%;
	padding-right:1.5%;
	padding-bottom:1%;
	position:absolute;
}

.texto2 {
	background-color: rgba(0,0,0);
	opacity:0.75;
	margin-left:12.5%;
	margin-right:12.5%;
	padding-top:0.10%;
	padding-left:1.5%;
	padding-right:1.5%;
	padding-bottom:1%;
	position:absolute;
}

h3 {
	color: rgba(255,255,255);
	font-family: Cursive, sans-serif;
}

h2 {
	color: rgba(255,255,255);
	font-family: Cursive, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}